<!-- Hallelujah -->
<!-- Footer -->
<a name="contactanos-aleluya"></a>
<footer id="footer">
  <div class="inner">

    <h3>Contactanos</h3>

    <form action="/mailer-aleluya.php" method="post">

      <div class="field half first">
        <label for="name">Nombre</label>
        <input name="name" id="name" type="text" placeholder="Nombre">
      </div>
      <div class="field half">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" placeholder="Email">
      </div>
      <div class="field">
        <label for="message">Mensaje</label>
        <textarea name="message" id="message" rows="6" placeholder="Mensaje"></textarea>
      </div>
      <ul class="actions">
        <li><input value="Send Message" class="button alt" type="submit"></li>
      </ul>
    </form>

    <ul class="icons">
              <li><a href="https://twitter.com/gtlegal_review" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="https://www.facebook.com/gtlegal.review" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="https://www.youtube.com/channel/UCcPDbKvBsVVFjQVBhE43Yxg" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
              <li><a href="https://instagram.com/gtlegal_review" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="mailto:aleluya@gtlegal.review" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy; GT Legal Review. Design: <a href="https://templated.co">TEMPLATED</a>.  Videos: <a href="http://coverr.co/">Coverr</a>.</p>

  </div>
</footer>