<div class="row">
  <div class="12u 12u$(small)">
    <h3>Noticias Elecciones CANG Febrero 2017</h3>
    <p>Se incentiva mediante la presente página a opinar sobre propuestas a implementar por la administración del colegio de abogados y notarios de Guatemala.</p>


    <p>El 17 de enero culmino la elección de candidatos aspirantes a ocupar los puestos de junta directiva, tribunal de honor, tribunal electoral para las elecciones del colegio de abogados y notarios de Guatemala cang para las elecciones del periodo 2017-2019.</p>

    <p>Para integrar esos entes se requiere de ser guatemalteco de nacimiento, colegiado activo y estar solvente de sus obligaciones, además tener  “reconocida honorabilidad y competencia”.</p>
    
    <p>Si el ganador de la primera vuelta electoral no obtiene el 55 por ciento del total de sufragios, se efectuará una segunda vuelta electoral.</p>

    <p>Los miembros de Junta Directiva duran 2 años en sus funciones, su función es la del manejo general y las finanzas de la institución. en el caso Tribunal de Honor 2 años y su función es la de velar por la ética, mientras que en el Tribunal Electoral duran 3 y su función  es organizar las elecciones en las que el Colegio se ve involucrado.</p>

    <p>En las elecciones del periodo 2015 -2017 el 75% del padrón de agremiados se abstuvo de emitir su sufragio para escoger a sus autoridades.</p>

    <p>Asi mismo en estas recientes elecciones para el periodo 2017-209 hubo un gran abstenionismo.
    Es necesario para los agremiados entender POR QUE SON IMPORTANTES ESTAS ELECIONES:</p>

    <p>Estas elecciones en el CANG destacan porque ocupa espacios de importante influencia en diferentes ámbitos políticos y sociales, como la Comisión de Postulación para seleccionar a los candidatos para Fiscal General y Jefe del Ministerio Público en el 2018, en sustitución de Thelma Aldana. Además tiene representación y participación en el Consejo Directivo del Registro de Información Catastral (RIC); en el Consejo del Instituto Nacional de Ciencias Forenses (INACIF), institución que elegirá a su nuevo director en el próximo mes de julio; entre otros.</p>

    <p>El CANG, por mandato constitucional, participa en las elecciones de “puestos clave”, como la del fiscal general y magistraturas de la Corte Suprema de Justicia y de la Corte de Constitucionalidad. Por ello es importante que lleguen “personas íntegras”, advirtió Eduardo Paiz, quien competirá para secretario del Tribunal Electoral, por Alternativa Independiente.
    </p>

    <p>También interviene en el proceso para la designación del director del Instituto Nacional de Ciencias Forenses, que, con el MP, es un eslabón trascendental del sistema de justicia.
    </p>

    <p>En el proceso electoral 2017 de elecciones para junta directiva, Tribunal de Honor y Tribunal Electoral de del colegio de Abogados y Notarios de Guatemala, se contó con la participación de 8 planillas inscritas, de las cuales las 8 postularon candidato para Junta directiva, 4 postularon candidato para Tribunal Electoral siendo estas las planillas, 1,2,3,4. Y 6 postularon candidato para tribunal de Honor siendo estas las planillas 1,2,3,4,7,8.
    </p>

    <p>El proceso electoral se dio en dos vueltas de votación siendo estas los días viernes 3 y el 10  febrero, el sufragio fue emitido en los 22 departamentos teniendo el distrito central 16 mesas de votación y en el interior 21 mesas una en cada cabecera departamental.
    </p>

    <p>Las propuestas de trabajo de cada una de las planillas fueron socializadas en sus reuniones con los simpatizantes, mas no publicadas mediante distribución masiva a la totalidad de agremiados, talvez esto cause la poca participación de votantes.
    </p>

    <p>La actividad de voto se desarrollo en horario de 8:00   a 18:00 horas y el conteo de los votos de 18:00 en adelante.
    </p>

    <p>A pesar de las criticas de votos por comida  a los que se hace referencia que las planillas que dan comida a los agremiados compran los votos, se considera que es total mente falso, toda vez que el voto es secreto y al nivel educativo de licenciatura en ciencias jurídicas y sociales abogado y notario, el voto influenciado por comida no se da, pero lo que si se da una convivencia a mena entre los colegas que celebran de esta manera este tan importante evento que es punto de reunión de los agremiados participantes.
     </p> 


    <h3>ORGANISACION PLANILLAS PARTICIPANTES:
    </h3>

    <table><tr><th colspan="2"><b>Planilla 1 </b></th></tr>

    <tr><td>Presidente</td><td class="nombre-aleluya-a">Ovidio Ottoniel Orellana Marroquín</td></tr>
    <tr><td>Vicepresidente</td><td class="nombre-aleluya-a">Cesar Haroldo Milán Requena</td></tr>
    <tr><td>Secretaria</td><td class="nombre-aleluya-a">Wendy Angélica Ramírez López</td></tr>
    <tr><td>Prosecretario</td><td class="nombre-aleluya-a">María Luisa Estrada López</td></tr>
    <tr><td>Tesorero</td><td class="nombre-aleluya-a">Noé Adalberto Ventura Loyo</td></tr>
    <tr><td>Vocal I</td><td class="nombre-aleluya-a">Noé Eleazar Coronado Ortiz</td></tr>
    <tr><td>Vocal II</td><td class="nombre-aleluya-a">Gabriela Alejandra de Mata <br/>Hércules</td></tr>
     </table>

    <table><tr><th colspan="2"><b>Planilla 2</b></th></tr>
     <tr><td>Presidente</td><td class="nombre-aleluya-a">Ludwin Guillermo Magno Villalta Ramírez</td></tr>
     <tr><td>Vicepresidente</td><td class="nombre-aleluya-a">Ángel Antonio Rodríguez de León</td></tr>
     <tr><td>Secretario</td><td class="nombre-aleluya-a">Alfonso Godínez Arana</td></tr>
     <tr><td>Prosecretaria</td><td class="nombre-aleluya-a">Diana Noemí Castillo Alonso</td></tr>
     <tr><td>Tesorero</td><td class="nombre-aleluya-a">Abraham de Jesús Álvarez López</td></tr>
     <tr><td>Vocal I</td><td class="nombre-aleluya-a">Mynor Rolando Pinto Sánchez</td></tr>
     <tr><td>Vocal II</td><td class="nombre-aleluya-a">Ingrid Marcelina Grave Grijalva</td></tr>
      </table> 

    <table><tr><th colspan="2"><b>Planilla 3</b></th></tr>
    <tr><td>Presidente</td><td class="nombre-aleluya-a">Luis Fernando Ruíz Ramírez</td></tr>
    <tr><td>Vicepresidenta</td><td class="nombre-aleluya-a">Rut Ester Méndez Ronquillo de Sontay</td></tr>
    <tr><td>Secretario</td><td class="nombre-aleluya-a">José Alberto Godínez Rodríguez</td></tr>
    <tr><td>Prosecretaria</td><td class="nombre-aleluya-a">Reina Leticia Garza Asencio</td></tr>
    <tr><td>Tesorera</td><td class="nombre-aleluya-a">Claudia Lisseth Aguilar</td></tr>
    <tr><td>Vocal I</td><td class="nombre-aleluya-a">Alicia del Carmen Franco López</td></tr>
    <tr><td>Vocal II</td><td class="nombre-aleluya-a">María Eugenia Erazo Guerra de Urzúa</td></tr>
    </table>
     
    <table><tr><th colspan="2"><b>Planilla 4</b></th></tr>
    <tr><td>Presidente</td><td class="nombre-aleluya-a">Alejandro José Balsells Conde</td></tr>
    <tr><td>Vicepresidente</td><td class="nombre-aleluya-a">Julio Cesar Aceituno Morales</td></tr>
    <tr><td>Secretaria</td><td class="nombre-aleluya-a">Karin Sorelli Gómez Girón</td></tr>
    <tr><td>Prosecretaria</td><td class="nombre-aleluya-a">Heidi Tamara de León Muñoz</td></tr>
    <tr><td>Tesorera</td><td class="nombre-aleluya-a">Jackelin Azucena Aguirre Recinos</td></tr>
    <tr><td>Vocal I</td><td class="nombre-aleluya-a">Saturnino Rafael Briz Méndez</td></tr>
    <tr><td>Vocal II</td><td class="nombre-aleluya-a">Luis Fernando Mack Echeverría</td></tr>
     </table>   

    <table><tr><th colspan="2"><b>Planilla 5</b></th></tr>
    <tr><td>Presidenta</td><td class="nombre-aleluya-a">Haydée Raquel Blandón Sandoval</td></tr>
    <tr><td>Vicepresidenta</td><td class="nombre-aleluya-a">María Elvia Navichoc Calito</td></tr>
    <tr><td>Secretaria</td><td class="nombre-aleluya-a">María Luisa del Rosario Velázquez Juárez</td></tr>
    <tr><td>Prosecretario</td><td class="nombre-aleluya-a">Rodolfo Fidel Días Tello</td></tr>
    <tr><td>Tesorero</td><td class="nombre-aleluya-a">Mario Ernesto Archila Ortiz</td></tr>
    <tr><td>Vocal I</td><td class="nombre-aleluya-a">Eugenia Juárez Xol</td></tr>
    <tr><td>Vocal II</td><td class="nombre-aleluya-a">Herbert Garibaldi Pérez Alvarado</td></tr>
     </table>  

    <table><tr><th colspan="2"><b>Planilla 6</b></th></tr>
    <tr><td>Presidente</td><td class="nombre-aleluya-a">Erwin Ulises Lobos Ríos</td></tr>
    <tr><td>Vicepresidenta</td><td class="nombre-aleluya-a">Rosa María Juarez Velazquez</td></tr>
    <tr><td>Secretaria</td><td class="nombre-aleluya-a">Marlitt Lemus Valenzuela</td></tr>
    <tr><td>Prosecretario</td><td class="nombre-aleluya-a">Carlos Enrique Monroy López</td></tr>
    <tr><td>Tesorero</td><td class="nombre-aleluya-a">José Domingo Lemus Sáenz</td></tr>
    <tr><td>Vocal I</td><td class="nombre-aleluya-a">Mayra Rosanna López Rodríguez</td></tr>
    <tr><td>Vocal II</td><td class="nombre-aleluya-a">Samuel Salazar López</td></tr>
     </table> 


    <table><tr><th colspan="2"><b>Planilla 7</b></th></tr>
    <tr><td>Presidente</td><td class="nombre-aleluya-a">Joaquín Medina Bermejo</td></tr>
    <tr><td>Vicepresidente</td><td class="nombre-aleluya-a">Luis Fernando Cabrera Juárez</td></tr>
    <tr><td>Secretario</td><td class="nombre-aleluya-a">Carlos Rafael Pineda Morales</td></tr>
    <tr><td>Prosecretario</td><td class="nombre-aleluya-a">Carlos Enrique Casado Max</td></tr>
    <tr><td>Tesorero</td><td class="nombre-aleluya-a">José Domingo Rivera López</td></tr>
    <tr><td>Vocal I</td><td class="nombre-aleluya-a">Jessica Suzzet Barrera Sosa</td></tr>
    <tr><td>Vocal II</td><td class="nombre-aleluya-a">Yohana Selene Castro Yaxcal</td></tr>
      </table> 


    <table><tr><th colspan="2">
    <b> Planilla 8</b></th></tr>
    <tr><td>Presidente</td><td class="nombre-aleluya-a">Maynor Estuardo Alvarado Galeano</td></tr>
    <tr><td>Vicepresidenta</td><td class="nombre-aleluya-a">Mónica Raquel García López</td></tr>
    <tr><td>Secretario</td><td class="nombre-aleluya-a">Jorge Salvador Ovalle</td></tr>
    <tr><td>Prosecretaria</td><td class="nombre-aleluya-a">Astrid Karina Ramírez Villatoro</td></tr>
    <tr><td>Tesorero</td><td class="nombre-aleluya-a">David Obdulio Canahuí Cardona</td></tr>
    <tr><td>Vocal I</td><td class="nombre-aleluya-a">Guillermo Enrique Muñoz</td></tr>
    <tr><td>Vocal II</td><td class="nombre-aleluya-a">Eskevin Noé Castellanos Mérida</td></tr>
    </table>


    <p>Las presentes son imágenes que muestran la afluencia de abogados votantes en las elecciones del colegio de abogados y notarios 2017 en primera y segunda vuelta electoral desde el parque de la industria y que muestran el salón de recepción de votantes proporcionado por una de la planillas participante en las elecciones del colegio de abogados y notarios 2017 en segunda vuelta electoral desde el parque de la industria.-</p>

 
  </div>
  
</div> 

