<!-- Banner -->
<section id="banner">
  <div class="inner">
    <header>
      <h1>Bienvenidos a GT Legal Review</h1>
      <h2>en el nombre de Jesucristo</h2>
    </header>

    <div class="flex ">

      <div>
        <span class="icon fa-hashtag"></span>
        <h3>Sobre Nosotros</h3>
        <p>Conocer mas sobre<br/> GTLegal Review</p>
      </div>

      <div>
        <span class="icon fa-camera"></span>
        <h3>Medios</h3>
        <p>Fotos, Videos<br/> y Entrevistas</p>
      </div>

      <div>
        <span class="icon fa-flag"></span>
        <h3>Planillas</h3>
        <p>Conozca los grupos<br/> en las votaciones CANG.</p>
      </div>

    </div>

    <footer>
      <a href="#veamas2-aleluya" class="button">Vea Mas...</a>
    </footer>
  </div>
</section>


<!-- Three -->
<a name="veamas2-aleluya"></a>
<section id="three" class="wrapper align-center">
  <div class="inner">
    <div class="flex flex-2">
      <article>
        <div class="image round">
          <img src="images/pic01.jpg" alt="Pic 01" />
        </div>
        <header>
          <h3>Resultados<br /> de las primeras votaciones</h3>
        </header>
        <p>Vea los resultados de las primeras votaciones.</p>
        <footer>
          <a href="#" class="button">Vea mas...</a>
        </footer>
      </article>
      <article>
        <div class="image round">
          <img src="images/pic02.jpg" alt="Pic 02" />
        </div>
        <header>
          <h3>Escribanos</h3>
        </header>
        <p>Mandenos un mensaje abajo.</p>
        <footer>
          <a href="#contactanos-aleluya" class="button">Contactanos</a>
        </footer>
      </article>
    </div>
  </div>
</section>

{{footer-aleluya}}
{{outlet}}
