<section id="three" class="wrapper">
  <div class="inner">
    <header class="align-center">
      <h2>Planillas</h2>
      <p>Dios es bueno!</p>
    </header>
    <div class="image round left">
      <img src="/imgAleluya/pic01.jpg" alt="Pic 01" />
    </div>
    <!-- Intro -->
    <div class="row">
      <section class="6u 12u$(medium)">
        <h2>Planillas</h2>
        <p><strong>Las planillas</strong> las presentamos aqui.</p>
      </section>
      <section class="3u 6u(medium) 12u$(small)">
        <h3><a href="#planilla1-aleluya">Planilla 1</a></h3>
        <p>Erat ac non lorem justo amet primis dolor adipiscing lacinia accumsan felis sed dolor interdum ut. Amet accumsan magna etiam orci faucibus interdum et lorem ipsum et nullam.</p>
      </section>
      <section class="3u$ 6u$(medium) 12u$(small)">
        <h3><a href="#planilla3-aleluya">Planilla 3</a></h3>
        <p>Erat ac non lorem justo amet primis dolor adipiscing lacinia accumsan felis sed dolor interdum ut. Amet accumsan magna etiam orci faucibus interdum et lorem ipsum et nullam.</p>
      </section>
    </div>

    <hr class="major" />

    <!-- Content -->
    <a name="planilla1-aleluya"></a>
      <h2 id="content">Planilla 1 - AMIJUR - Red Jurídica</h2>
      <p>
        Pueden ver mas en facebook en su página: <a href="https://www.facebook.com/Red-Jur%C3%ADdica-512946552240943">https://www.facebook.com/Red-Jurídica-512946552240943</a> <br/> y en <a href="https://www.facebook.com/AMIJUR">https://www.facebook.com/AMIJUR</a> <br/>

     </p>
    <div class="row">
      <div class="6u 12u$(small)">
        <h3>Presentacion de los de la Planilla</h3>
        <p><div class="fb-video" data-href="https://www.facebook.com/512946552240943/videos/671844103017853" data-width="500" data-show-text="false"><blockquote cite="https://www.facebook.com/512946552240943/videos/671844103017853/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/512946552240943/videos/671844103017853/">Este 3 de febrero de 2017 Vota Planilla 1 para el #CANG</a><p>Este 3 de febrero de 2017 Vota Planilla 1 para el #CANG</p>Posted by <a href="https://www.facebook.com/Red-Jur&#xed;dica-512946552240943/">Red Jurídica</a> on Sunday, January 29, 2017</blockquote></div></p>
      </div>
    </div>
             

    <hr class="major" />

    <!-- Elements -->
    <a name="planilla3-aleluya"></a>
    <h2 id="elements">Planilla 3 - Conamis - Union Gremial</h2>
    <div class="row 200%">
      <div class="6u 12u$(medium)">
        <p>
        Facebook en
        <a href="https://www.facebook.com/conamis"> https://www.facebook.com/conamis </a>, 
        <a href="https://www.facebook.com/UnionGremailgt"> https://www.facebook.com/UnionGremailgt </a></p>
        <p align="center">
        <video width="560" height="315" src="videos-aleluya/dlAleluya/entrevistap3.mp4" frameborder="0" allowfullscreen controls>
          <source src="videos-aleluya/dlAleluya/entrevistap3.mp4" type="video/mp4">
          <source src="videos-aleluya/dlAleluya/entrevistap3.ogg" type="video/ogg">
        </video>
        </p>
      </div>
      <div class="6u 12u$(medium)">
      <!-- Text stuff -->
        <h3>Gloria a Dios</h3>
        <p> <div class="fb-video" data-href="https://www.facebook.com/conamis/videos/1710732849242437/" data-width="500" data-show-text="false"><blockquote cite="https://www.facebook.com/conamis/videos/1710732849242437/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/conamis/videos/1710732849242437/"></a><p>Estimados Colegas les compartimos esta información que es en beneficio de todas y todos,  seguimiento a la reforma de la Ley de Colegiación Profesional Obligatoria. Con la reforma se pretende que el Profesional que haya sido sancionado por el Tribunal de Honor, pueda redimir la sanción, y que quede limpio su expediente. Es primera vez en la historia del Tribunal de Honor del CANG que se toma una decisión firme en beneficio real en favor del agremiado.

        Seguimos trabajando por un Colegio Profesional Diferente.

        CUENTO CONTIGO!</p>Posted by <a href="https://www.facebook.com/conamis/">Conamis Guatemala</a> on Monday, December 26, 2016</blockquote></div></p>

      </div>
    </div>
    <hr class="major" />

    {{post-a-aleluya}}

  </div>
</section>
{{outlet}}

