<section id="three" class="wrapper">
  <div class="inner">
    <header class="align-center">
      <h2>Sobre Nosotros</h2>
      <p>Dios es bueno!</p>
    </header>
    <div class="image round left">
      <img src="/imgAleluya/pic01.jpg" alt="Pic 01" />
    </div>
    <p>Dios es bueno, saludos y que Dios los guie y bendiga, el presente proyecto consiste en una red social, con el objeto de publicar noticias de acontecimientos legales.</p>

    <p>Como primera publicaci칩n tenemos la cobertura del proceso de las elecciones del colegio de abogados y notarios de Guatemala, elecciones en las cuales para segunda vuelta electoral se perfilan las planillas 1 y 3.</p>

    <p>Se solicita sus aportes y comentarios, sobre las actuales elecciones y el presente funcionamiento del colegio de abogados y notarios de Guatemala, aportes y comentarios que ser치n de gran ayuda para tomar en cuenta por cualquiera de las planillas ganadoras. Para una Guatemala prospera y digna en el nombre de El Se침or Jesucristo</p>

    <h2>Integrantes</h2>
    <div class="image round right">
      <img src="/imgAleluya/pic02.jpg" alt="Pic 02" />
    </div>
    <h4>Pedro Palma</h4>
    <p>Mas informaci칩n proximamente</p>


  </div>
</section>
{{outlet}}
